.auth-form {
  text-align: center;

  input {
    border: none;
    border-bottom: 1px solid black;
  }

  button {
    border-radius: 3px;
    border: none;
    padding: 10px 20px;
    margin: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}