@import './styles/Auth';
@import './styles/Nav';

* { margin: 0; padding: 0; box-sizing: border-box; }

input:focus { outline: none }

.account {
  display: flex;
  height: 100vh;
}

.content {
  padding: 10px;
  flex-basis: 90%;
}